@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-attachment: fixed;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-position: center;
  background-size: cover;
  color: #fff;
  width: 400px;
  height: 200px;
  margin: 10px;
  transition-duration: 2s;
  border-radius: 20px;
  box-shadow: 0px 0px 15px black;
 
}

.box:nth-of-type(even) {
 
  transform: translateX(-100vw);
}
.box:nth-of-type(odd) {
  
  transform: translateX(100vw);
}

.box.show {
  /* background-color: red; */
  transform: translateX(0);
  transition-duration: 2s;
}

.box h2 {
  font-size: 45px;
  text-align: center;
}
