@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap');
/* font-family: 'Major Mono Display', monospace;
font-family: 'Montserrat', sans-serif; */
body{
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgba(43,15,98,1) 90%, rgb(80, 24, 190) 100%);
    height: 100vh; */
    /* background: #0f0c29;   */
    /* background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29);  */
    /* background-image: linear-gradient(to left bottom, #0b001f, #171352, #2a198a, #4719c4, #6f00ff); */
    background: linear-gradient( #41147dff, #1b0b30ff, #0c0910ff);
    overflow-x: hidden;
    margin: 0;
}

h1{
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    font-size: 5vw;
    color: blanchedalmond;
}

#icon{
    width: 7vw;
}

iframe{
    background-color: white;
    width: 80vw;
    height: 80vh;
    border:none;
    box-shadow: 0 0px 5px black;
}
#search{
    display: flex;
    flex-direction: column;
}
ul{
    text-decoration: none;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.liReto{
    text-align: center;
    background-color: black;
    list-style: none;
    width: 100vw;
    margin: 0;
    padding: 10px;
    background: linear-gradient( #41147dff, #1b0b30ff);
    color: #0c0910ff;
}
.liReto:hover{
    background: linear-gradient(90deg, hsla(59, 96%, 43%, 1) 0%, hsla(48, 95%, 57%, 1) 0.2%, hsla(35, 82%, 55%, 1) 0.4%, hsla(60, 77%, 46%, 1) 0.6%, hsla(61, 93%, 37%, 1) 0.8%);

}
.liSearch{
    background-color: red;
    color: white;
}
.hide{
    display: none;
}
#retos-list{
    width: 100vw;
    margin: 0;
}

#prevRetos{
    padding: 50px 0px 50px 0px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.btnG {  
    
    margin-top: -40vh;
    transform: translateY(-40vh);
    background: transparent;
    padding: 10px;
    outline: none;
    border: none;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    font-size: 24px;
    margin: 10px;
    color: #d9d504;



    /* top: 50%;
    transform: translateY(-90%);
    cursor: pointer;
    z-index: 2; */
    
  }
 .listShow{
     width: 100vw;
 }
 
 .lista{
     display: none;
     transition-duration: 3s;
    
 }

 a{
     text-decoration: none;
     color:#b5ebccff;
     font-family: 'Montserrat', sans-serif;
 }
a:hover{
    color: #0c0910ff;
}
 .active{
     display: block;
 }

 .liSearch{
    background: hsla(59, 96%, 43%, 1);
    width: 20vw;
    float: inline-start;

 }
.liSearch a{
    color: #1b0b30ff;
}
 @media(max-width : 600px){
        #prevRetos{
            display: flex;
            flex-direction: row;
        }
        .btnG{
            margin-top: 10px;
            transform: translateY(0);
        }
 }

 .searchList{
     display: absolute;
     z-index: 4;
 }