@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(106, 0, 255);
  color: #fff;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  background:rgb(0, 255, 234);
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  position: absolute;
  background-color: transparent;
  border-width: 0 0 2px 0;
  border-color:white;
  outline: none;
}

.form-control input:focus,
.form-control input:valid {
    border-color: lightblue;
    
}

.form-control label {
  
  left: 0;
  pointer-events: none;

 
}

.form-control label span {
  position: relative;
  top: 10px;
  font-size: 18px;
  min-width: 5px;
  transition-timing-function: ease-out;
 

}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  position: relative;
  top: -25px;
}
