@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
  justify-items: center;
  justify-content: space-around;
  
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  width: 7vw;
  border-radius: 50px;
  transition: 1500ms;
  transition-timing-function: ease-in-out;
}

.panel h3 {
  color:transparent;
  font-size: 18px;
  margin: 20px;
  /*bottom: 20px;
  left: 20px;
  margin: 0;*/
 
}

.panel.active {
    display: flex;
    width: 65vw;
    border-radius: 30px;
    transition: 1500ms;
    transition-timing-function: ease-in-out;
}

.panel.active h3 {
  color: #fff;
  align-self: flex-end;  
  opacity: 100;
  transition-delay: 1500ms;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel.active{
    width: 80vw;
  }
  .panel{
    width: 10vw;
  }

  .panel:nth-of-type(2n) {
    display: none;
  }
}

