@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.search {
  display: flex;
  position: relative;
  height: 50px;
  background-color: wh;
  
 
}

.search .input {
  border: 0;
  width: 0px;
  height: 50px;
 outline: none;
 transition: 1s;
}

.btn {
  position: absolute;
  border: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  outline: none;
  vertical-align: middle;
  margin-left: -10px;
  transition: 1s;

}
.btn i{
  font-size: 24px;
}

.btn:focus,
.input:focus {
}

.search.active .input {
  display: block;
  transition: 1s;
  width: 200px;
 
}

.search.active .btn {
  /* position: absolute; */
  vertical-align: middle;
  transform: translateX(200px);
  transition: 1s;

}
