@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #4c008a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2affad,  #4c008a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2affad,  #4c008a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Roboto Mono', monospace;;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.633);
}

div {
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: #009492;
  border: none;
  text-align: center;
  color:white;

}

input:focus {
  outline: none;
}
@media (max-width: 600px){
 h1 {
   font-size: 7vw;
 }
}