* {
  box-sizing: border-box;
}

body {
  background: rgb(97, 49, 150);
  /* background: linear-gradient(152deg, rgba(183,115,255,1) 17%, rgba(247,255,0,1) 100%); */
  height: 100vh;
  display: flex;
  align-items: center;
  

}

.container{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: stretch;
}

.empty {
width: 150px;
height: 150px;
border: 2px solid rgb(52, 41, 114);
margin: 20px;
background-color: rgb(255, 208, 107);
}

.fill {
  background-image: url("./img/kitty.jpg");
  background-size: cover;
  width: 150px;
  height: 150px;


}


.hold {
  border: 2px solid rgb(117, 117, 117) ;
  /* opacity: 0; */
}


.hovered {
  border: 2px dashed white;
  background-color: rgb(27, 26, 26);
}

@media (max-width: 800px) {
  .container :nth-child(5){
    display:none;
  }

}