

body{
    background: #0f0c29;  
    /* background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29);  */
}


#icon{
    width: 7vw;
}